<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Thermostat</title>

    <script src="js/lib/jquery-2.2.4.min.js"></script>
    <script src="js/index.js"></script>
  </head>
  <body>
    <button id="increase">Increase Temperature</button>
    <!-- <div id="count"></div> -->
    <button id="decrease">Decrease Temperature</button>
    <!-- <div id="count"></div> -->
  </body>
</html>
